<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @satu.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @satu.content %>
</p>

<%= link_to 'Edit', edit_satu_path(@satu) %> |
<%= link_to 'Back', satus_path %>
